@model Frontend_PI.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.confirmCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.confirmCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.confirmed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.confirmed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.wrongPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.wrongPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.blocked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.blocked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.blockedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.blockedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.banned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.banned)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userRole)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userRole)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
