@model IEnumerable<Frontend_PI.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Prenom")
        </th>
        <th>
            @Html.DisplayName("Nom")
        </th>
        <th>
            @Html.DisplayName("Email")
        </th>
        <th>
            @Html.DisplayName("Nom d'utilisateur")
        </th>
        <th>
            @Html.DisplayName("Confirmer")
        </th>
        <th>
            @Html.DisplayName("Blocker")
        </th>
        <th>
            @Html.DisplayName("Role")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.username)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.confirmed)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.blocked)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userRole)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit","User", new { id=item.id }, null) |
            @Html.ActionLink("Details", "Details", "User", new { id=item.id }, null) |
            @Html.ActionLink("Delete", "Delete", "User", new { id=item.id }, null)
        </td>
    </tr>
}

</table>
