
@model IEnumerable<Frontend_PI.Models.Commande>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {


        $("#suppButton").click(function () {

            if (confirm('vous souhaitez confirmer ?')) {
                alert(@ViewBag.idLivreur);
                 alert(@ViewBag.idCommande);
                //alert($(this).prop('name'))
                supprimerAffectation($(this).prop('name'),@ViewBag.idLivreur);
            }

        });



    }
    );

    function supprimerAffectation(idc, idl) {

        $.ajax({
            async: true,
            type: 'POST',
            dataType: 'JSON',
            contentType: 'application/json;charset=utf-8',
            url: '/DeliveryMan/SupprimerAffectation/',
            data: JSON.stringify({
                idCommande: idc,
                idLivreur: idl


            })
            ,
            success: function (data) {
                alert(data)
                location.reload();

            },
            error: function (err) {

                alert(err + "un erreur a été survenu veuillez contactez votre administrateur ");
            }


        })
    }
</script>

@{
    ViewBag.Title = "CommandeByDeliveryMan";
}



<h2>liste des commandes  </h2>
<h4> @ViewBag.stat.first_name</h4>
<hr />


@if (Model != null)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.reference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.orderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.typePaiement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.adresse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.codePostal)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.reference)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.orderDate)
                </td>
                @if (item.status == "DELIVERED")
                {
                    <td style="background-color:aquamarine">
                        @Html.DisplayFor(modelItem => item.status)
                    </td>
                }
                else
                {
                    <td style="background-color:red">
                        @Html.DisplayFor(modelItem => item.status)
                    </td>

                }


                <td>
                    @Html.DisplayFor(modelItem => item.typePaiement)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.adresse)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.codePostal)
                </td>
                @if (item.status == "DELIVERED")
                {
                    <td>


                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" color="green" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                        </svg>

                    </td>
                }
                else
                {
                    <td>
                        <button class="btn btn-info" role="button" id="suppButton" name=@item.id>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" color="red" fill="currentColor" class="bi bi-x-octagon-fill" viewBox="0 0 16 16">
                                <path d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353L11.46.146zm-6.106 4.5L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z" />
                            </svg>
                            <!-- @Html.ActionLink("Supprimer", "SupprimerAffectation", new { id = item.id })-->
                        </button>


                    </td>
                }

            </tr>
        }


    </table>
    <h3 style="text-decoration:underline;color:darkolivegreen">Statistique de livreur</h3>
    <table class="table">
        <tr>
            <th>
                Nombre de commande affectées
            </th>
            <th>
                Nombre de commande livrées
            </th>



        </tr>


        <tr>
            <td>
                @ViewBag.stat.total_orders
            </td>
            <td>
                @ViewBag.stat.orders_delivered
            </td>


        </tr>


    </table>

}

@if (Model == null)
{
    <p> ce livreur n'a pas encore des livraisons a livré </p>

}
<div>
    @Html.ActionLink("Retourner a la liste", "Index")
</div>
