<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
 <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BootStrap HTML5 CSS3 Theme</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/normalize.css")
    @Styles.Render("~/Content/font-awesome.min.css")
    @Styles.Render("~/Content/icomoon.css")
    @Styles.Render("~/Content/jquery-ui.css")
    @Styles.Render("~/Content/owl.carousel.css")
    @Styles.Render("~/Content/transitions.css")
    @Styles.Render("~/Content/side-bar.css")
    @Styles.Render("~/Content/main.css")
    @Styles.Render("~/Content/color.css")

    @Styles.Render("~/Content/responsive.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr-2.8.3.js")
    @Scripts.Render("~/Scripts/modernizr-2.8.3-respond-1.4.2.min.js")
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

</head>
<body class="tg-home tg-homeone">
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!--************************************
            Wrapper Start
    *************************************-->
    <!--<div id="tg-wrapper" class="tg-wrapper tg-haslayout">-->
    <!--************************************
            Header Start
    *************************************-->
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar" class="active shadow-lg p-3 mb-5 bg-white rounded">
            <div class="sidebar-header">
                <h3>Admin Dashboard</h3>
            </div>

            <ul class="list-unstyled components">
                <li class="active">
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Nômen</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="/Category/Index">Category Manager</a>
                        </li>
                        <li>
                            <a href="/Product/Index">Product Manager</a>
                        </li>
                        <li>
                            <a href="/Stock/Index">Stock Manager</a>
                        </li>
                        <li>
                            <a href="/Product/statNombreProductByCategory">Stats of Categories</a>
                        </li>
                        <li>
                            <a href="/Product/statProductsByStock">Stats Product In Stock</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Gestion des commandes</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="/commande/index">List Commandes</a>
                        </li>
                        <li>
                            <a href="/Product/CommandeDetails">Passer une commande</a>
                        </li>
                        <li>
                            <a href="/feedback/index">Statistique</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Gestion User</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu1">
                        <li>
                            <a href="/user/index">liste des utilisateurs</a>
                        </li>
                        <li>
                            <a href="/user/userByFirstLastname">Filtre par utilisateur</a>
                        </li>
                        <li>
                            <a href="/user/statLockUnlockUser">Stats User</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Gestion de la Livraison</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu2">
                        <li>
                            <a href="/DeliveryMan">Gestion Livreur</a>
                        </li>
                        <li>
                            <a href="/DeliveryMan/AffecterCommande">Affectation Par Commande</a>
                        </li>
                        <li>
                            <a href="/DM">Affectation En Masse</a>
                        </li>

                        <li>
                            <a href="/DeliveryMan/Statistique">Statistique Général</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Social Network</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu3">
                        <li>
                            <a href="/publication/IndexAdmin">Social Network Management</a>
                        </li>
                        <li>
                            <a href="/comment">Comment Management</a>
                        </li>
                        <li>
                            <a href="Publication/statpublication">statistics</a>
                        </li>
                    </ul>
                </li>
               
            </ul>

        </nav>
        <div id="content">
            <header id="tg-header" class="tg-header tg-haslayout">
                <div class="tg-topbar">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <ul class="tg-addnav">
                                    <li>
                                        <a href="javascript:void(0);">
                                            <i class="icon-envelope"></i>
                                            <em>Contact</em>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <i class="icon-question-circle"></i>
                                            <em>Help</em>
                                        </a>
                                    </li>
                                </ul>
                                <div class=" tg-themedropdown tg-currencydropdown">
                                    <a href="javascript:void(0);" id="tg-currenty" class="tg-btnthemedropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="icon-earth"></i>
                                        <span>Currency : TND </span>
                                    </a>
                                
                                </div>
                                <div class="tg-userlogin">
                                    <!-- <figure><a href="javascript:void(0);"><img src="~/Content/images/users/img-01.jpg" alt="image description"></a></figure>
                                    <span>Hi, Melonie</span>-->

                                    @Html.Partial("_LoginPartial")

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tg-middlecontainer">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <strong class="tg-logo"><a href="index.html"><img src="~/Content/images/logo.png" alt="company name here"></a></strong>
                                <div class="tg-wishlistandcart">
                                    <div class="dropdown tg-themedropdown tg-wishlistdropdown">
                                        <a href="javascript:void(0);" id="tg-wishlisst" class="tg-btnthemedropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="tg-themebadge">3</span>
                                            <i class="icon-heart"></i>
                                            <span>Wishlist</span>
                                        </a>
                                        <div class="dropdown-menu tg-themedropdownmenu" aria-labelledby="tg-wishlisst">
                                            <div class="tg-description"><p>No products were added to the wishlist!</p></div>
                                        </div>
                                    </div>
                                    <div class="dropdown tg-themedropdown tg-minicartdropdown">
                                        <a href="/Product/CommandeDetails" id="tg-minicart" class="tg-btnthemedropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            @if (Session["commandeDetailsList"] != null) {
                                                List<Frontend_PI.Models.CommandeDetails> commandeDetails = (List<Frontend_PI.Models.CommandeDetails>)Session["commandeDetailsList"];
                                            <span class="tg-themebadge">@commandeDetails.Count</span>
                                            <i class="icon-cart"></i>
                                            }
                                        </a>
                                        <div class="dropdown-menu tg-themedropdownmenu" aria-labelledby="tg-minicart">
                                            <div class="tg-minicartbody">
                                                <div class="tg-minicarproduct">
                                                    <figure>
                                                        <img src="~/Content/images/products/img-01.jpg" alt="image description">

                                                    </figure>
                                                    <div class="tg-minicarproductdata">
                                                        <h5><a href="javascript:void(0);">Our State Fair Is A Great Function</a></h5>
                                                        <h6><a href="javascript:void(0);">$ 12.15</a></h6>
                                                    </div>
                                                </div>
                                                <div class="tg-minicarproduct">
                                                    <figure>
                                                        <img src="~/Content/images/products/img-02.jpg" alt="image description">

                                                    </figure>
                                                    <div class="tg-minicarproductdata">
                                                        <h5><a href="javascript:void(0);">Bring Me To Light</a></h5>
                                                        <h6><a href="javascript:void(0);">$ 12.15</a></h6>
                                                    </div>
                                                </div>
                                                <div class="tg-minicarproduct">
                                                    <figure>
                                                        <img src="~/Content/images/products/img-03.jpg" alt="image description">

                                                    </figure>
                                                    <div class="tg-minicarproductdata">
                                                        <h5><a href="javascript:void(0);">Have Faith In Your Soul</a></h5>
                                                        <h6><a href="javascript:void(0);">$ 12.15</a></h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tg-minicartfoot">
                                                <a class="tg-btnemptycart" href="javascript:void(0);">
                                                    <i class="fa fa-trash-o"></i>
                                                    <span>Clear Your Cart</span>
                                                </a>
                                                <span class="tg-subtotal">Subtotal: <strong>35.78</strong></span>
                                                <div class="tg-btns">
                                                    <a class="tg-btn tg-active" href="javascript:void(0);">View Cart</a>
                                                    <a class="tg-btn" href="javascript:void(0);">Checkout</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                   
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tg-navigationarea">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <nav id="tg-nav" class="tg-nav">
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-navigation" aria-expanded="false">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                    </div>
                                    <div id="tg-navigation" class="collapse navbar-collapse tg-navigation" style="margin-left:35%">

                                  
                                        <ul>
                                            @if (Session["Username"] != null && Session["UserRole"] != null)
                                            {
                                                <li>


                                                    <button type="button" id="sidebarCollapse" class="btn bg-info">
                                                        <i class="fas fa-align-left"></i>

                                                        <span>Dashboard</span>

                                                    </button>
                                                </li>
                                            }




                                            <li><a href="/Product/allproducts">Product</a></li>
                                            <li><a href="/publication">Social Network</a></li>
                                            <li><a href="/Product/CommandeDetails">Panier</a></li>


                                            <!--<li class="menu-item-has-children current-menu-item">
        <a href="javascript:void(0);"><i class="icon-menu"></i></a>
        <ul class="sub-menu">
            <li class="menu-item-has-children">
                <a href="aboutus.html">Products</a>
                <ul class="sub-menu">
                    <li><a href="products.html">Products</a></li>
                    <li><a href="productdetail.html">Product Detail</a></li>
                </ul>
            </li>
            <li><a href="aboutus.html">About Us</a></li>
            <li><a href="404error.html">404 Error</a></li>
            <li><a href="comingsoon.html">Coming Soon</a></li>
        </ul>
    </li>-->
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!--************************************
                    Header End
            *************************************-->

            <div class="container body-content">
                @RenderBody()
            </div>
            <!--************************************
                    Footer Start
            *************************************-->
            <footer id="tg-footer" class="tg-footer tg-haslayout">
                <div class="tg-footerarea">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <ul class="tg-clientservices">
                                    <li class="tg-devlivery">
                                        <span class="tg-clientserviceicon"><i class="icon-rocket"></i></span>
                                        <div class="tg-titlesubtitle">
                                            <h3>Fast Delivery</h3>
                                            <p>Shipping Worldwide</p>
                                        </div>
                                    </li>
                                    <li class="tg-discount">
                                        <span class="tg-clientserviceicon"><i class="icon-tag"></i></span>
                                        <div class="tg-titlesubtitle">
                                            <h3>Open Discount</h3>
                                            <p>Offering Open Discount</p>
                                        </div>
                                    </li>
                                    <li class="tg-quality">
                                        <span class="tg-clientserviceicon"><i class="icon-leaf"></i></span>
                                        <div class="tg-titlesubtitle">
                                            <h3>Eyes On Quality</h3>
                                            <p>Publishing Quality Work</p>
                                        </div>
                                    </li>
                                    <li class="tg-support">
                                        <span class="tg-clientserviceicon"><i class="icon-heart"></i></span>
                                        <div class="tg-titlesubtitle">
                                            <h3>24/7 Support</h3>
                                            <p>Serving Every Moments</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="tg-threecolumns">
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                    <div class="tg-footercol">
                                        <strong class="tg-logo"><a href="javascript:void(0);"><img src="~/Content/images/flogo.png" alt="image description"></a></strong>
                                        <ul class="tg-contactinfo">
                                            <li>
                                                <i class="icon-apartment"></i>
                                                <address>Suit # 07, Rose world Building, Street # 02, AT246T Manchester</address>
                                            </li>
                                            <li>
                                                <i class="icon-phone-handset"></i>
                                                <span>
                                                    <em>0800 12345 - 678 - 89</em>
                                                    <em>+4 1234 - 4567 - 67</em>
                                                </span>
                                            </li>
                                            <li>
                                                <i class="icon-clock"></i>
                                                <span>Serving 7 Days A Week From 9am - 5pm</span>
                                            </li>
                                            <li>
                                                <i class="icon-envelope"></i>
                                                <span>
                                                    <em><a href="mailto:support@domain.com">support@domain.com</a></em>
                                                    <em><a href="mailto:info@domain.com">info@domain.com</a></em>
                                                </span>
                                            </li>
                                        </ul>
                                        <ul class="tg-socialicons">
                                            <li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                            <li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                            <li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                                            <li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
                                            <li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                    <div class="tg-footercol tg-widget tg-widgetnavigation">
                                        <div class="tg-widgettitle">
                                            <h3>Shipping And Help Information</h3>
                                        </div>
                                        <div class="tg-widgetcontent">
                                            <ul>
                                                <li><a href="javascript:void(0);">Terms of Use</a></li>
                                                <li><a href="javascript:void(0);">Terms of Sale</a></li>
                                                <li><a href="javascript:void(0);">Returns</a></li>
                                                <li><a href="javascript:void(0);">Privacy</a></li>
                                                <li><a href="javascript:void(0);">Cookies</a></li>
                                                <li><a href="javascript:void(0);">Contact Us</a></li>
                                                <li><a href="javascript:void(0);">Our Affiliates</a></li>
                                                <li><a href="javascript:void(0);">Vision &amp; Aim</a></li>
                                            </ul>
                                            <ul>
                                                <li><a href="javascript:void(0);">Our Story</a></li>
                                                <li><a href="javascript:void(0);">Meet Our Team</a></li>
                                                <li><a href="javascript:void(0);">FAQ</a></li>
                                                <li><a href="javascript:void(0);">Testimonials</a></li>
                                                <li><a href="javascript:void(0);">Join Our Team</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                    <div class="tg-footercol tg-widget tg-widgettopsellingauthors">
                                        <div class="tg-widgettitle">
                                            <h3>Top Selling Authors</h3>
                                        </div>
                                        <div class="tg-widgetcontent">
                                            <ul>
                                                <li>
                                                    <figure><a href="javascript:void(0);"><img src="~/Content/images/author/imag-09.jpg" alt="image description"></a></figure>
                                                    <div class="tg-authornamebooks">
                                                        <h4><a href="javascript:void(0);">Jude Morphew</a></h4>
                                                        <p>21,658 Published Books</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <figure><a href="javascript:void(0);"><img src="~/Content/images/author/imag-10.jpg" alt="image description"></a></figure>
                                                    <div class="tg-authornamebooks">
                                                        <h4><a href="javascript:void(0);">Shaun Humes</a></h4>
                                                        <p>20,257 Published Books</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <figure><a href="javascript:void(0);"><img src="~/Content/images/author/imag-11.jpg" alt="image description"></a></figure>
                                                    <div class="tg-authornamebooks">
                                                        <h4><a href="javascript:void(0);">Kathrine Culbertson</a></h4>
                                                        <p>15,686 Published Books</p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tg-newsletter">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <h4>Signup Newsletter!</h4>
                                <h5>Consectetur adipisicing elit sed do eiusmod tempor incididunt.</h5>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <form class="tg-formtheme tg-formnewsletter">
                                    <fieldset>
                                        <input type="email" name="email" class="form-control" placeholder="Enter Your Email ID">
                                        <button type="button"><i class="icon-envelope"></i></button>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tg-footerbar">
                    <a id="tg-btnbacktotop" class="tg-btnbacktotop" href="javascript:void(0);"><i class="icon-chevron-up"></i></a>
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <span class="tg-paymenttype"><img src="~/Content/images/paymenticon.png" alt="image description"></span>
                                <span class="tg-copyright">2017 All Rights Reserved By &copy; Book Library</span>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!--************************************
            Footer End
    *************************************-->
    <!--</div>-->
    <!--************************************
            Wrapper End
    *************************************-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    @Scripts.Render("~/Scripts/owl.carousel.min.js")
    @Scripts.Render("~/Scripts/jquery.vide.min.js")
    @Scripts.Render("~/Scripts/countdown.js")
    @Scripts.Render("~/Scripts/jquery-ui.js")
    @Scripts.Render("~/Scripts/parallax.js")
    @Scripts.Render("~/Scripts/countTo.js")
    @Scripts.Render("~/Scripts/appear.js")
    @Scripts.Render("~/Scripts/gmap3.js")
    @Scripts.Render("~/Scripts/main.js")
    @Scripts.Render("~/Scripts/jquery-library.js")
    @Scripts.Render("~/Scripts/bootstrap.min.js")




    @Scripts.Render("~/jquery")
    @Scripts.Render("~/bootstrap")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
    @RenderSection("scripts", required: false)



</body>
</html>
