@using Microsoft.AspNet.Identity
@if (Session["Username"] !=null  && Session["UserRole"]!=null )
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right">
    <li>
        <!--
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            -->
        <div class="tg-userlogin">
            <figure>
                <a href="javascript:void(0);"><img src="~/Content/images/users/img-01.jpg" alt="image description"></a>
            </figure>
            <span>
                Hi,
                @Html.ActionLink(Session["Username"].ToString(), "UpdateUser", "User", routeValues: null, htmlAttributes: new { id = "registerLink" })

            </span>
        </div>

    </li>
    <li>@Html.ActionLink("Se déconnecter", "LogoutUser", "User", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
</ul>
        }
    }
    else
    {
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("S'inscrire", "Create", "User", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Se connecter", "LoginUser", "User", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
    }
