@model IEnumerable<Frontend_PI.Models.Product>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.publicationDate)
        </th>
        <th></th>
    </tr>
    <div class="text-center">
        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-md-6 col-sm-12 m-2 ">
                <div class="card  m-3" style="width: 100%">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"> @Html.DisplayFor(modelItem => item.title)</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.description)</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <p style="font-weight:bold">Published at:<br /> @Convert.ToDateTime(item.publicationDate).ToString("dd-MMM-yyyy") </p>

                        </li>
                        <li class="list-group-item">
                            <p style="font-weight:bold">Price:<br /> @Html.DisplayFor(modelItem => item.price) TND </p>
                        </li>
                        <li class="list-group-item"> <p style="font-weight:bold">Category : @Html.DisplayFor(modelItem => item.category.name)</p></li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>

        }
    </div>




