@model Frontend_PI.Models.Publication

@{
    ViewBag.Title = "Details";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript">


    $(document).ready(function () {


        $("#valider").click(function () {

            if (confirm('vous souhaitez Poster un commentaire ?')) {
                //alert($('#comment').val());
                //alert($(this).prop('name'))
                /**/
                debugger;
                var comment = $('#comment').val();
                ajouterComment(comment, @ViewBag.idp);
    /**/
}

});



}
    );

    function ajouterComment(cm, idp) {
        debugger;
        $.ajax({
            async: true,
            type: 'POST',
            dataType: 'JSON',
            contentType: 'application/json;charset=utf-8',
            url: '/Comment/Create/',
            data: JSON.stringify({
                comment: cm,
                idpublication: idp


            })
            ,
            success: function (data) {
                location.reload();

            },
            error: function (err) {
                location.reload();
                //alert(err + "un erreur a été survenu veuillez contactez votre administrateur ");
            }


        })
    }
</script>

<!--************************************
            Inner Banner Start
    *************************************-->
<div class="tg-innerbanner tg-haslayout tg-parallax tg-bginnerbanner" data-z-index="-100" data-appear-top-offset="600" data-parallax="scroll" data-image-src="~/Content/images/parallax/bgparallax-07.jpg">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="tg-innerbannercontent">
                    <h1>News &amp; Articles</h1>
                    <ol class="tg-breadcrumb">
                        <li><a href="javascript:void(0);">home</a></li>
                        <li><a href="javascript:void(0);">Publication</a></li>
                        <li class="tg-active">@Html.DisplayFor(model => model.title)</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<!--************************************
        Inner Banner End
*************************************-->
<!--************************************
        Main Start
*************************************-->
<main id="tg-main" class="tg-main tg-haslayout">
    <!--************************************
            News Grid Start
    *************************************-->
    <div class="tg-sectionspace tg-haslayout">
        <div class="container">
            <div class="row">
                <div id="tg-twocolumns" class="tg-twocolumns">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <figure class="tg-newsdetailimg">
                            <figcaption class="tg-author">
                                <img src="~/Content/images/author/imag-26.jpg" alt="image description">
                                <div class="tg-authorinfo">
                                    <span class="tg-bookwriter">By: <a href="javascript:void(0);">@Html.DisplayFor(model => model.user.firstName) @Html.DisplayFor(model => model.user.lastName)</a></span>
                                    <ul class="tg-postmetadata">
                                        <li><a><i class="fa fa-thumbs-up"></i><i>@Html.DisplayFor(model => model.nbLike)&nbsp;&nbsp;</i></a></li>
                                        <li><a href="javascript:void(0);"><i class="fa fa-thumbs-down"></i><i>@Html.DisplayFor(model => model.nbDisLike)&nbsp;&nbsp;</i></a></li>
                                    </ul>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9 pull-right">
                        <div id="tg-content" class="tg-content">
                            <div class="tg-newsdetail">
                                <ul class="tg-bookscategories">
                                    <li><a href="javascript:void(0);">Books</a></li>
                                    <li><a href="javascript:void(0);">Publications</a></li>
                                </ul>
                                <div class="tg-themetagbox"><span class="tg-themetag">featured</span></div>
                                <div class="tg-posttitle">
                                    <h3><a href="javascript:void(0);">@Html.DisplayFor(model => model.title)</a></h3>
                                </div>
                                <div class="tg-description">
                                    <p>@Html.DisplayFor(model => model.content)</p>
                                </div>
                                <div class="tg-tagsshare">
                                    <div style="text-align:center">
                                        <a class="tg-btn tg-active" @Html.ActionLink("Like Publication", "LikePublication", new { id = Model.id })</a>

                                        <a class="tg-btn" style="background-color:red;" @Html.ActionLink("DisLike Publication", "DisLikePublication", new { id = Model.id })</a>

                                    </div>
                                </div>
                                <div class="tg-authorbox">
                                    <figure class="tg-authorimg">
                                        <img src="~/Content/images/author/imag-24.jpg" alt="image description">
                                    </figure>
                                    <div class="tg-authorinfo">
                                        <div class="tg-authorhead">
                                            <div class="tg-leftarea">
                                                <div class="tg-authorname">
                                                    <h2>@Html.DisplayFor(model => model.user.firstName) @Html.DisplayFor(model => model.user.lastName)</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tg-commentsarea">
                                    <ul id="tg-comments" class="tg-comments">
                                        @foreach (var item in @ViewBag.comments)
                                        {
                                            <li>
                                                <div class="tg-authorbox">
                                                    <figure class="tg-authorimg">
                                                        <img src="~/Content/images/author/imag-24.jpg" alt="image description">
                                                    </figure>
                                                    <div class="tg-authorinfo">
                                                        <div class="tg-authorhead">
                                                            <div class="tg-leftarea">
                                                                <div class="tg-authorname">
                                                                    <h2>@item.user.firstName @item.user.lastName</h2>
                                                                    <span>Publication Date : @item.publicationDate.ToString("dd/MM/yyyy")</span>
                                                                </div>
                                                            </div>
                                                            <div class="tg-rightarea">
                                                                <a class="tg-btnreply" href="javascript:void(0);">Reply<i class="fa fa-mail-reply"></i></a>
                                                            </div>
                                                        </div>
                                                        <div class="tg-description">
                                                            <p>@item.content</p>
                                                        </div>
                                                    </div>
                                                    <div class="tg-bottomarrow"></div>
                                                </div>
                                            </li>
                                        }
                                </div>
                                <div class="tg-leaveyourcomment">
                                    <div class="tg-sectionhead">
                                        <h2>Leave Your Comment</h2>
                                    </div>
                                    <form class="tg-formtheme tg-formleavecomment">
                                        <fieldset>
                                            <div class="form-group" style="100%">
                                                <textarea placeholder="Comment" id="comment"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <a class="tg-btn tg-active" id="valider" href="javascript:void(0);">Submit</a>
                                            </div>
                                        </fieldset>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 pull-left">
                        <aside id="tg-sidebar" class="tg-sidebar">
                            <div class="tg-widget tg-catagories">
                                <div class="tg-widgettitle">
                                    <h3>Categories</h3>
                                </div>
                                <div class="tg-widgetcontent">
                                    <ul>
                                        <li><a href="javascript:void(0);"><span>Art &amp; Photography</span><em>28245</em></a></li>
                                        <li><a href="javascript:void(0);"><span>Biography</span><em>4856</em></a></li>
                                        <li><a href="javascript:void(0);"><span>Children’s Book</span><em>8654</em></a></li>
                                        <li><a href="javascript:void(0);"><span>Craft &amp; Hobbies</span><em>6247</em></a></li>
                                        <li><a href="javascript:void(0);"><span>Crime &amp; Thriller</span><em>888654</em></a></li>
                                        <li><a href="javascript:void(0);"><span>Fantasy &amp; Horror</span><em>873144</em></a></li>
                                        <li><a href="javascript:void(0);"><span>Fiction</span><em>18465</em></a></li>
                                        <li><a href="javascript:void(0);"><span>Fod &amp; Drink</span><em>3148</em></a></li>
                                        <li><a href="javascript:void(0);"><span>Graphic, Anime &amp; Manga</span><em>77531</em></a></li>
                                        <li><a href="javascript:void(0);"><span>Science Fiction</span><em>9247</em></a></li>
                                        <li><a href="javascript:void(0);"><span>View All</span></a></li>
                                    </ul>
                                </div>
                            </div>

                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--************************************
            News Grid End
    *************************************-->
</main>
<!--************************************
        Main End
*************************************-->
