@model IEnumerable<Frontend_PI.Models.Publication>

@{
    ViewBag.Title = "IndexAdmin";
}

<h2>List of Unvalidated Publications</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table-hover table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.publicationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nbLike)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nbDisLike)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.validated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr class="table-condensed info">
        <td>
            @Html.DisplayFor(modelItem => item.content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.publicationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nbLike)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nbDisLike)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.validated)
        </td>
        <td>
            <img src="@Html.DisplayFor(modelItem => item.image)" width="100" height="100" >
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            <div class="btn btn-info"> @Html.ActionLink("Edit", "Edit", new { id = item.id }) </div> |
            <div class="btn btn-success"> @Html.ActionLink("Details", "DetailsAdmin", new { id = item.id })  </div>|
            <div class="btn btn-danger"> @Html.ActionLink("Delete", "Delete", new { id = item.id })  </div>
        </td>
    </tr>
}

</table>
